# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [15]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [16]:
cities_df = pd.read_csv("Weatherpy/cities.csv")
cities_df

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,1,apt,100,FR,1582789439,86,43.88,5.40,5.00,1.00
1,2,cizre,0,TR,1582789439,57,37.33,42.19,11.00,3.10
2,3,road town,1,VG,1582788931,73,18.42,-64.62,23.33,2.10
3,4,albany,90,US,1582788864,80,42.60,-73.97,6.11,3.29
4,5,east london,75,ZA,1582788889,94,-33.02,27.91,21.00,3.10
...,...,...,...,...,...,...,...,...,...,...
585,644,oussouye,0,SN,1582789560,88,12.48,-16.55,23.00,2.10
586,645,leh,100,IN,1582789561,39,34.17,77.58,-9.94,0.99
587,646,slave lake,75,CA,1582789561,55,55.28,-114.77,3.00,4.60
588,647,moerai,100,PF,1582789561,79,-22.43,-151.33,26.75,7.29
589,648,huai thalaeng,20,TH,1582789561,41,15.00,102.65,33.00,3.10

In [18]:
cities_df = cities_df.dropna(how='any')
cities_df

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,1,apt,100,FR,1582789439,86,43.88,5.40,5.00,1.00
1,2,cizre,0,TR,1582789439,57,37.33,42.19,11.00,3.10
2,3,road town,1,VG,1582788931,73,18.42,-64.62,23.33,2.10
3,4,albany,90,US,1582788864,80,42.60,-73.97,6.11,3.29
4,5,east london,75,ZA,1582788889,94,-33.02,27.91,21.00,3.10
...,...,...,...,...,...,...,...,...,...,...
585,644,oussouye,0,SN,1582789560,88,12.48,-16.55,23.00,2.10
586,645,leh,100,IN,1582789561,39,34.17,77.58,-9.94,0.99
587,646,slave lake,75,CA,1582789561,55,55.28,-114.77,3.00,4.60
588,647,moerai,100,PF,1582789561,79,-22.43,-151.33,26.75,7.29
589,648,huai thalaeng,20,TH,1582789561,41,15.00,102.65,33.00,3.10

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display Map